<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1048656119198-vn9v72h70ovg3ajbek5kjdldkoul5iff.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048656119198-vn9v72h70ovg3ajbek5kjdldkoul5iff</string>
	<key>API_KEY</key>
	<string>AIzaSyA1tG391teOf5Y2NH79RaFOjPU1Edw89Hs</string>
	<key>GCM_SENDER_ID</key>
	<string>1048656119198</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rushd</string>
	<key>PROJECT_ID</key>
	<string>rushd-d72b1</string>
	<key>STORAGE_BUCKET</key>
	<string>rushd-d72b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048656119198:ios:d8edf53b44a2af1405828f</string>
</dict>
</plist>